.daniel {
  min-height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: auto auto;
  justify-content: center;
  border-bottom: solid 1px black;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../static/images/arcticice.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .imageAndBlurb {
    display: flex;
    align-items: center;
    justify-content: center;
    .imageAndButton {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
      img {
        height: 500px;
        border: 1px solid black;
        margin-bottom: 15px;
      }
    }
    .description {
      h1 {
        margin: 0;
        font-size: 30px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      height: auto;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      max-width: 890px;
      box-sizing: border-box;
      margin-right: 50px;
    }
  }
}

@media (min-width: 320px) and (max-width: 1060px) {
  .daniel {
    display: flex;
    align-items: center;
    .imageAndBlurb {
      flex-direction: column-reverse !important;
      .description {
        font-size: 18px !important;
        margin: 15px;
      }
    }
  }
}
