.home {
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px black;
  background: url("../../static/images/brickwall.jpg") repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .homeInfo {
    font-size: 30px;
    background-color: rgba(66, 66, 66, 0.365);
    border-bottom: 5px solid rgb(66, 66, 66);
    h1 {
      margin: 0;
      padding: 20px;
    }
    .homeSection {
      display: flex;
      align-items: center;
      justify-content: center;
      .authorInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          object-fit: scale-down;
          height: 400px;
          border: 1px solid black;
        }
        .retelling {
          font-size: large;
        }
      }
      .upcomingBook {
        margin: 50px;
        img {
          height: 500px;
          margin: 15px;
          border: 1px solid black;
          &:hover {
            box-shadow: 0 0 15px 10px grey;
            background-size: cover;
            transform: scale(1.1);
          }
        }
        h3 {
          font-size: 20px;
          margin: 0;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .worksection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    h1 {
      margin: 0;
      padding: 20px;
    }
    .works {
      display: flex;
      flex-direction: column;
      width: 50%;
      p {
        max-width: 75%;
      }
      img {
        object-fit: scale-down;
        height: auto;
        max-height: 375px;
        border: 1px solid black;
        margin: 30px;
        &:hover {
          box-shadow: 0 0 15px 10px grey;
          background-size: cover;
          transform: scale(1.1);
        }
      }
      .workOrderNormal {
        display: flex;
        margin: 30px;
        justify-content: space-around;
        align-items: center;
      }
      .workOrderReverse {
        display: flex;
        margin: 30px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .authorInfo {
    margin-right: 70px;
  }
  .works {
    width: 100% !important;
    p {
      max-width: 100% !important;
    }
    .workOrderNormal {
      flex-direction: column;
    }
    .workOrderReverse {
      flex-direction: column !important;
    }
  }
}

@media (min-width: 320px) and (max-width: 799px) {
  img {
    max-height: 375px;
  }
  .homeSection {
    flex-direction: column;
    .upcomingBook {
      margin: 0 !important;
    }
    .authorInfo {
      margin-top: 20px;
    }
  }
  .works {
    width: 100% !important;
    p {
      max-width: 100% !important;
    }
    .workOrderNormal {
      flex-direction: column;
    }
    .workOrderReverse {
      flex-direction: column !important;
    }
  }
}
