.main {
  height: 767px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px black;
  background: url("../static/images/brickwall.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .bio {
    font-size: 20px;
    margin: 15px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 15px;
    width: 950px;
  }
  img {
    object-fit: scale-down;
    height: 400px;
    margin: 15px;
    border-radius: 30px;
  }
}

@media (min-width: 1023px) and (max-width: 1029px) {
  .main {
    height: 1135px;
    justify-content: space-around;
    .bio {
      width: 500px; 
      margin: 15px 0 15px 0;
    }
    img {
      object-fit: scale-down;
      height: 400px;
      margin: 0;
    }
  }
}

@media (min-width: 750px) and (max-width: 1022px) {
  .main {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .bio {
      width: 500px; 
      margin: 15px 0 15px 0;
    }
    img {
      object-fit: scale-down;
      height: 300px;
    }
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .main {
    height: 100%;
    width: auto;
    flex-direction: column;
    .bio {
      width: auto;
      margin: 15px;
      font-size: 20px;
    }
    img {
      object-fit: scale-down;
      height: 300px;
      margin: 20px;
    }
  }
}
