.main {
  height: 767px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px black;
  background: url("../static/images/brickwall.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold;
  .form {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    .formSection {
      display: flex;
      flex-direction: column;
      margin: 20px;
      background-color: #495474;
      color: white;
      border-radius: 4px;
      .formEmail {
        height: 20px;
        padding: 5px;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        color: black;
      }
      .formMessage {
        height: 200px;
        padding: 5px;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        color: black;
      }
    }
  }
  img {
    width: 500px;
    object-fit: scale-down;
    height: auto;
    border-radius: 30px;
    margin: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1029px) {
  .main {
    height: 1135px;
    justify-content: space-around;
    flex-direction: column;
    .form {
      height: auto;
      width: 750px;
      margin: 50px 0 0 0;
    }
    img {
      width: 400px;
    }
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .main {
    height: 100%;
    width: auto;
    flex-direction: column;
    .form {
      height: auto;
      width: auto;
    }
    img {
      width: 300px;
    }
  }
}
