.daniel {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px black;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.5)
    ),
    url("../static/images/arcticice.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .description {
    h1 {
      margin: 0;
    }
    font-size: 16px;
    margin: 0 25px 0 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    width: auto;
    max-width: 890px;
    height: auto;
  }
  .danielimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      object-fit: scale-down;
      box-sizing: border-box;
      height: 380px;
      margin: 0 25px 25px 25px;
      border: 1px solid black;
    }
}
}

@media (min-width: 600px) and (max-width: 1029px) {
  .daniel {
    height: 100vh;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    img {
      margin-top: 40px;
    }
  }
}

@media (min-width: 600px) and (max-width: 1022px) {
  .daniel {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .description {
      width: 500px;
      margin-bottom: 40px;
    }
    img {
      object-fit: scale-down;
      height: 300px;
    }
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .daniel {
    height: 100%;
    width: auto;
    flex-direction: column;
    padding: 40px 0 40px 0;
    .description {
      width: auto;
      height: auto;
      font-size: 18px;
      margin-bottom: 40px;
    }
  }
}
