.home {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px black;
    background-color: white;
    .imagesection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    img {
        width: 550px;
        height: auto;
    
    }}
    .homeinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        h2 {
            margin-bottom: 15px;
        }
        h3 {
            font-weight: lighter;
            width: 600px;
            margin-bottom: 15px;
        }
    }
    button {
        width: 300px;
        margin: 15px;
        height: auto;
        font-size: 30px;
        margin-bottom: 80px;
        &:hover {
            cursor: pointer;
            background-color: #EBDED8;
        }
        
    }
}