.jonah {
    height: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    border-bottom: solid 1px black;
    background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.5)), url("../static/images/space.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    .description {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
        border-radius: 15px;
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
        width: 700px;
        height: auto;
        font-size: 30px;
        h2 {
            margin: 0px;
        }
        button {
            width: 300px;
            margin: 15px;
            height: auto;
            font-size: 30px;
            &:hover {
                cursor: pointer;
                background-color: #EBDED8;
            }
            
    
    }
    }
    img {
        width: 550px;
        height: auto;
    
    }
}