.myDet {
  height: 767px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid 1px black;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.5)
    ),
    url("../static/images/sanddunes.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .description {
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.7)
    );
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 950px;
    padding: 15px;
    max-height: 740px;
    height: auto;
    font-size: 20px;
    opacity: 1;
    .quote {
      font-style: italic;
    }
  }
  .imageAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
      height: 500px;
      object-fit: scale-down;
      border: 5px solid black;
      margin: 15px;
    }
  }
}

@media (min-width: 1023px) and (max-width: 1029px) {
  .myDet {
    height: 1135px;
    justify-content: space-around;
    flex-direction: column;
    .description {
      margin: 15px 0 0 0;
    }
    img {
      height: 400px;
    }
  }
}

@media (min-width: 750px) and (max-width: 1022px) {
  .myDet {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .description {
      width: 500px;
      margin: 15px 0 15px 0;
    }
    img {
      height: 400px;
      margin: 15px 0 15px 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .myDet {
    height: 100%;
    width: auto;
    flex-direction: column;
    .description {
      width: 310px;
      height: auto;
      font-size: 18px;
      margin: 15px;
    }
    img {
      margin: 15px;
    }
  }
}
