.taleOfTwoProphets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px black;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../static/images/arid-mountains.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    max-width: 570px;
    font-size: 15.5px;
    height: 600px;
    .blurb {
      padding: 10px;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      width: auto;
      .title {
        font-size: large;
        font-weight: bold;
        margin: 0;
        padding: 0 0 5px 0;
      }
    }
    .quotes {
      background: none;
      font-style: italic;
      font-weight: bold;
      color: black;
      width: 500px;
      .author {
        font-style: normal;
      }
    }
  }
  .imageAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      object-fit: scale-down;
      box-sizing: border-box;
      height: 380px;
      border: 1px solid black;
      margin-bottom: 25px;
    }
  }
  .videoParent {
    position: relative;
    .iframe {
      margin-right: 30px;
      width: 400px;
      height: 280px;
      object-fit: scale-down;
    }
    .icons {
      position: absolute;
      top: 100px;
      right: 165px;
      height: 40px;
      width: auto;
      color: white;
    }
  }
}

@media (min-width: 1023px) and (max-width: 1029px) {
  .taleOfTwoProphets {
    justify-content: space-around;
    flex-direction: column;
    img {
      height: 200px;
      margin: 15px;
    }
    .description {
      padding: 0;
    }
    .iframe {
      margin: 15px;
    }
  }
}

@media (min-width: 600px) and (max-width: 1022px) {
  .taleOfTwoProphets {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    .description {
      width: 500px;
      margin-bottom: 40px;
    }
    img {
      height: 400px;
      margin: 15px 0 15px 0;
    }
    .videoParent {
      display: flex;
      justify-content: center;
      .iframe {
        margin: 0;
        width: 400px;
        height: 280px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .taleOfTwoProphets {
    height: 100%;
    width: auto;
    flex-direction: column;
    padding: 40px 0 40px 0;
    .description {
      width: auto;
      height: auto;
      font-size: 18px;
      .quotes {
        width: auto;
      }
    }
    .img {
      margin: 15px;
    }
    .videoParent {
      display: flex;
      justify-content: center;
      max-width: 200px;
      .iframe {
        margin: 0;
        width: auto;
        height: 280px;
      }
    }
  }
}
