.footer {
  background-color: #ffa500;
  height: auto;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  p {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
  }
}
