.header {
    background: linear-gradient(to right, rgb(161, 194, 222), white, rgb(161, 194, 222)); 
    border: solid 1px black;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nothing You Could Do', cursive;
 .title {
     font-size: 120px;
 };
}