.header {
    background-color: rgb(161, 194, 222);
    border: solid 1px black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
 .title {
     font-size: 120px;
 };
}